<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XTCRED3VYN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XTCRED3VYN');
</script>
<script>
function sendInfoEvent(artikelnamn, lastid) {
        gtag('event', 'last_artikel', {
        "artikel_namn": artikelnamn,
        "las_tid": lastid,
        });
    }
  
     document.addEventListener("DOMContentLoaded", () => {

        const readTask1Button = document.getElementById("knappen_1");
    
        if(readTask1Button) {

            readTask1Button.addEventListener("click", () => {
            sendInfoEvent("Emils inlamning", 43)
             });

            document.getElementById("knappen_2").addEventListener("click", () => {
            sendInfoEvent("Pers inlämning", 8)
            });
        }

  
    });
  
 console.log("test för att se 1");
    
</script>
  
